<script type="text/javascript" src="hangman.js"></script>

<div class="letter_form">
  <% if params[:notice] %>
      <p id="notice"><%= params[:notice] %></p>
  <% end %>

  <div><h1 id="word">Let the games begin!</h1></div>
  <div><img id="hangmanPicture" src="assets/hang1.png" height="748" width="545"></div>

  <div><h4>Letters Guessed: <span id="guessedLetters">none yet</span> </h4></div>


  <form onsubmit="return false;">
      <fieldset>
        <div class="row">
        <div class="span3">
          <input id="letter" type="text"></input>
        </div>

        <div class="span9">
         <button id="guess" class="btn btn-info">Guess</button>
        </div>
        </div>
      </fieldset>
  </form>
</div>