<script type="text/javascript" src="hangman.js"></script>

<div class="letter_form">
  <% if params[:notice] %>
      <p id="notice"><%= params[:notice] %></p>
  <% end %>

  <div><h2 id="word">Let the games begin!</h2></div>
  <div><img id="hangmanPicture" src="assets/hang1.png" height="748" width="545"></div>

  <div><h3>used: <span id="guessedLetters">none yet</span> </h3></div>


  <form onsubmit="return false;">
      <fieldset>
        <div>
          <input id="letter" type="text"></input>
        </div>

        <div>
         <button id="guess">Guess</button>
        </div>

      </fieldset>
  </form>
</div>