<h1> Welcome
  <%= @user.username %>
</h1>

<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>


<p>History Goes Here</p>

<div>
  <%= link_to 'Start New Game', new_game_path(), :method => 'GET' %>
</div>