// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { 
	font-family: sans-serif;
	background-color: #0BA1C2;
	text-align: center;
	padding: 5em 0em 0em 0em;
}

h1#navBarHeader {
	float: left;
	font-size: 2em;
	margin-left: 2em;
}

#topNavBar {
	background-color: black;
	color: white;
	line-height: 4em;
}

#wordForm {
	margin-right: 4em;
	vertical-align: middle;
}

#wordForm button {
	margin-left: 1em;
}

div#englishDefDiv {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

div#englishTransDiv {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
