.main {
	width: 940px;
	margin: 4px auto;
	bottom: 25px;
	background: White;
	border: solid 3px;
	padding:15px;
}

.mainnav {
    width: 974px;
    margin: auto;
}

body {
	background: Black;
	font-family: 'QuicksandBold';
	font-size:12.0pt;
}
